Repository raphaelsattler/Buy-Here, pull requests merged in 2018-09, with the labels that each got.

#1 [Enhancement] Add database credentials
  README.md
  config/credentials.yml.enc
  config/database.yml
Labels: Enhancement, Ready for revision

#5 [Enhancement] Implement CI
  .circleci/config.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
  Guardfile
  Rakefile
  app/mailers/application_mailer.rb
  bin/bundle
  bin/rails
  bin/rake
  bin/setup
  bin/update
  bin/yarn
  config.ru
  config/application.rb
  config/boot.rb
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/assets.rb
  test/test_helper.rb
Labels: Enhancement, Ready for revision

#8 [Enhancement] Add Factory Bot Rails Gem
  .rspec
  Gemfile
  Gemfile.lock
  db/schema.rb
  spec/factories.rb
  spec/rails_helper.rb
  spec/spec_helper.rb
  spec/suport/factory_bot.rb
Labels: Enhancement, Ready for revision

#10 [Enhancement] Add Gem Faker
  Gemfile
  Gemfile.lock
  spec/rails_helper.rb
  spec/support/factory_bot.rb
Labels: Enhancement, Ready for revision

#6 [Model] Create Telephone Model
  app/models/telephone.rb
  db/migrate/20180919143131_create_telephones.rb
  db/schema.rb
  spec/models/telephone_spec.rb
  spec/rails_helper.rb
Labels: Model, Ready for revision

#9 [Model] Create Contact Email
  Gemfile
  Gemfile.lock
  app/models/contact_email.rb
  db/migrate/20180919205111_create_contact_email.rb
  db/schema.rb
  spec/factories.rb
  spec/models/contact_email_spec.rb
Labels: Model, Ready for revision

#13 [Model] Create Group Model
  app/models/group.rb
  db/migrate/20180920153238_create_group.rb
  db/schema.rb
  spec/factories.rb
  spec/models/group_spec.rb
Labels: Model, Ready for revision

#16 [Model] Create Address Model
  .circleci/config.yml
  app/models/address.rb
  app/models/address_type.rb
  app/models/telephone.rb
  app/models/telephone_type.rb
  db/migrate/20180919143131_create_telephones.rb
  db/migrate/20180921130739_create_address.rb
  db/migrate/20180921140622_create_telephone_types.rb
  db/migrate/20180921142743_create_address_types.rb
  db/schema.rb
  spec/factories.rb
  spec/models/address_spec.rb
  spec/models/address_type_spec.rb
  spec/models/contact_email_spec.rb
  spec/models/telephone_spec.rb
  spec/models/telephone_type_spec.rb
Labels: Model, Ready for revision

#7 [Model] Create QuoteType Model
  app/models/quote_type.rb
  db/migrate/20180919152423_create_quote_types.rb
  db/schema.rb
  spec/factories.rb
  spec/models/quote_type_spec.rb
  spec/rails_helper.rb
Labels: Model, Ready for revision

#21 [Model] Create Membership Model
  .circleci/config.yml
  Gemfile.lock
  app/models/group.rb
  app/models/membership.rb
  db/migrate/20180921205324_create_memberships.rb
  db/schema.rb
  spec/factories.rb
  spec/models/membership_spec.rb
Labels: Model, Ready for revision

#31 [Model] Create Profile Model
  app/models/profile.rb
  db/migrate/20180923172348_create_profile.rb
  db/schema.rb
  spec/factories.rb
  spec/models/profile_spec.rb
Labels: Model, Ready for revision

#32 [Update] Update Master
  Gemfile.lock
  Rakefile
  bin/yarn
  config/credentials.yml.enc
  config/environments/production.rb
  db/schema.rb
  spec/models/membership_spec.rb
  spec/models/quote_type_spec.rb
Labels: Ready for revision

#23 [Model] Create BuyIntention Model
  app/models/buy_intention.rb
  db/migrate/20180923174210_create_buy_intentions.rb
  db/schema.rb
  spec/factories.rb
  spec/factories/address.rb
  spec/factories/address_type.rb
  spec/factories/buy_intention.rb
  spec/factories/contact_email.rb
  spec/factories/group.rb
  spec/factories/membership.rb
  spec/factories/profile.rb
  spec/factories/quote_type.rb
  spec/factories/telephone.rb
  spec/factories/telephone_type.rb
  spec/models/buy_intention_spec.rb
Labels: Model, Ready for revision

#24 [Model] Create Person Model
  Gemfile
  Gemfile.lock
  app/models/address.rb
  app/models/buy_intention.rb
  app/models/contact_email.rb
  app/models/person.rb
  app/models/profile.rb
  app/models/telephone.rb
  config/environments/production.rb
  db/migrate/20180923174728_create_people.rb
  db/migrate/20180923184045_add_profile_to_person.rb
  db/migrate/20180923184135_add_buy_intentio_to_person.rb
  db/migrate/20180923184824_add_person_to_telephones.rb
  db/migrate/20180923185551_add_person_to_addresses.rb
  db/migrate/20180923190058_add_person_to_contact_email.rb
  db/schema.rb
  spec/factories/address.rb
  spec/factories/contact_email.rb
  spec/factories/perfil.rb
  spec/factories/person.rb
  spec/factories/telephone.rb
  spec/models/address_spec.rb
  spec/models/buy_intention_spec.rb
  spec/models/contact_email_spec.rb
  spec/models/group_spec.rb
  spec/models/membership_spec.rb
  spec/models/person_spec.rb
  spec/models/profile_spec.rb
  spec/models/quote_type_spec.rb
  spec/models/telephone_spec.rb
Labels: Model, Ready for revision

#25 [Model] Create Permission Model
  app/models/permission.rb
  app/models/person.rb
  db/migrate/20180923193204_create_permissions.rb
  db/schema.rb
  spec/factories/address.rb
  spec/factories/permission.rb
  spec/models/permission_spec.rb
Labels: Model, Ready for revision

#11 [Model] Create QuoteStatus Model
  app/models/quote_status.rb
  db/migrate/20180919184800_create_quote_statuses.rb
  db/schema.rb
  spec/factories/quote_status.rb
  spec/models/quote_status_spec.rb
  spec/rails_helper.rb
Labels: Model, Ready for revision

#15 [Model] - Create Installment Model
  app/models/installment.rb
  db/migrate/20180920134546_create_installments.rb
  db/schema.rb
  spec/factories/installment.rb
  spec/models/installment_spec.rb
Labels: Model, Ready for revision

#27 [Model] Create RoleRule Model
  app/models/role_rule.rb
  app/models/rule.rb
  db/migrate/20180923194602_create_role_rules.rb
  db/schema.rb
  spec/factories/role_rule.rb
  spec/models/role_rule_spec.rb
  spec/models/rule_spec.rb
Labels: Model, Ready for revision

#28 [Model] Create Role Model
  app/models/role.rb
  app/models/role_rule.rb
  app/models/rule.rb
  db/migrate/20180923195341_create_roles.rb
  db/migrate/20180923195807_add_role_to_role_rule.rb
  db/schema.rb
  spec/factories/role.rb
  spec/factories/role_rule.rb
  spec/models/buy_intention_spec.rb
  spec/models/role_rule_spec.rb
  spec/models/role_spec.rb
  spec/models/rule_spec.rb
Labels: Model, Ready for revision

#29 [Model] Create User Model
  app/models/buy_intention.rb
  app/models/group.rb
  app/models/membership.rb
  app/models/permission.rb
  app/models/person.rb
  app/models/profile.rb
  app/models/role.rb
  app/models/role_rule.rb
  app/models/rule.rb
  app/models/telephone_type.rb
  app/models/user.rb
  db/migrate/20180923201633_create_users.rb
  db/migrate/20180923205021_add_user_to_person.rb
  db/migrate/20180923205415_add_user_to_membership.rb
  db/schema.rb
  spec/factories/membership.rb
  spec/factories/person.rb
  spec/factories/user.rb
  spec/models/group_spec.rb
  spec/models/membership_spec.rb
  spec/models/user_spec.rb
Labels: Model, Ready for revision

#30 [Model] Create UserRule Model
  app/models/group.rb
  app/models/rule.rb
  app/models/user.rb
  app/models/user_rule.rb
  db/migrate/20180923215510_create_user_rules.rb
  db/schema.rb
  spec/factories/user_rule.rb
  spec/models/quote_status_spec.rb
  spec/models/user_rule_spec.rb
  spec/models/user_spec.rb
Labels: Model, Ready for revision

#17 [Model] - Create Payment Method Model
  app/models/installment.rb
  app/models/payment_method.rb
  app/models/product.rb
  db/migrate/20180921123434_create_payment_methods.rb
  db/migrate/20180921125557_add_payment_method_to_installment.rb
  db/migrate/20180921171734_create_products.rb
  db/schema.rb
  spec/factories/installment.rb
  spec/factories/payment_method.rb
  spec/factories/product.rb
  spec/models/installment_spec.rb
  spec/models/payment_method_spec.rb
  spec/models/product_spec.rb
Labels: Ready for revision

#33 [Model] - Created Services Model
  app/models/service.rb
  db/migrate/20180921184108_create_services.rb
  db/schema.rb
  spec/factories/service.rb
  spec/models/service_spec.rb
Labels: Model, Ready for revision

#36 [Model] Create ModelsList Model
  app/models/models_list.rb
  app/models/rule.rb
  db/migrate/20180927185742_create_models_lists.rb
  db/migrate/20180927190740_add_models_list_to_rule.rb
  db/schema.rb
  spec/factories/models_list.rb
  spec/factories/rule.rb
  spec/models/models_list_spec.rb
  spec/models/rule_spec.rb
Labels: Model, Ready for revision

#34 [Model] - Create Item Model
  app/models/item.rb
  app/models/product.rb
  app/models/service.rb
  db/migrate/20180927181844_create_items.rb
  db/schema.rb
  spec/factories/items.rb
  spec/models/item_spec.rb
  spec/models/product_spec.rb
  spec/models/service_spec.rb
Labels: Model, Ready for revision

#39 [Model] Created Request model
  app/models/item.rb
  app/models/order.rb
  db/migrate/20180927181844_create_items.rb
  db/migrate/20180927185819_create_orders.rb
  db/schema.rb
  spec/factories/items.rb
  spec/factories/order.rb
  spec/models/item_spec.rb
  spec/models/order_spec.rb
Labels: Model, Ready for revision

#40 [Feature] Flash messages, Bootstrap CDN, I18n
  app/helpers/application_helper.rb
  app/views/layouts/_flash_messages.html.erb
  app/views/layouts/application.html.erb
  config/application.rb
  config/locales/en.yml
  config/locales/pt-BR.yml
  config/routes.rb
  db/schema.rb
Labels: Feature, Ready for revision
